// Colors
$white: #ffffff;
$black: #000000;
$accent: #ff0000;
$secondary-color: #0000ff;
$text-main-color: #333333;

// Sizes
$base-font-size: 16px;

$tablet: 768;
$large: 1024;
$desktop: 1280;

$content: 1000px;

// Fonts
$default-font: "Open Sans", sans-serif;
